{% extends "virtual_lawyer/base.html" %}
{% block content %}
{% load static %}

<script>
    function addChat() {
        const monthNames = ["January", "February", "March", "April", "May", "June",
            "July", "August", "September", "October", "November", "December"
        ];


        var msg = document.getElementById("cb-form-control").value;
        document.getElementById("cb-form-control").value = " ";
        var current = new Date()
        var dateTime = current.getHours() + ":" + current.getMinutes() + " | " + monthNames[current.getMonth()] + " " + current.getDate();

        var outgoing_chats = document.createElement("div")
        outgoing_chats.className = "cb-outgoing-chats"

        var outgoing_chat_img = document.createElement("div")
        outgoing_chat_img.className = "cb-outgoing-chat-img"
        outgoing_chats.appendChild(outgoing_chat_img)

        var img = document.createElement("img")
        img.src = "{% static 'virtual_lawyer/img/logo.jpg' %}"
        img.id = "cb-img-chat"

        var outgoing_msg = document.createElement("div")
        outgoing_msg.className = "cb-outgoing-msg"

        var outgoing_msg_inbox = document.createElement("div")
        outgoing_msg_inbox.className = "cb-outgoing-msg-inbox"

        var para = document.createElement("p")
        para.innerHTML = msg

        var time = document.createElement("span")
        time.className = "cb-time"
        time.innerHTML = dateTime

        outgoing_msg_inbox.appendChild(para)
        outgoing_msg_inbox.appendChild(time)
        outgoing_msg.appendChild(outgoing_msg_inbox)
        outgoing_chats.appendChild(outgoing_msg)
        outgoing_chat_img.appendChild(img)
        outgoing_chats.appendChild(outgoing_chat_img)

        var x = document.getElementById("cb-msg-page")
        x.appendChild(outgoing_chats)


    }


    function addBotChat() {
        const monthNames = ["January", "February", "March", "April", "May", "June",
            "July", "August", "September", "October", "November", "December"
        ];


        var msg = document.getElementById("botChat").value;
        var current = new Date()
        var dateTime = current.getHours() + ":" + current.getMinutes() + " | " + monthNames[current.getMonth()] + " " + current.getDate();

        var recieved_chats = document.createElement("div")
        recieved_chats.className = "cb-recieved-chats"

        var recieved_chat_img = document.createElement("div")
        recieved_chat_img.className = "cb-recieved-chat-img"
        recieved_chats.appendChild(recieved_chat_img)

        var img = document.createElement("img")
        img.src = "{% static 'virtual_lawyer/img/logo.jpg' %}"
        img.id = "cb-img-chat"

        var recieved_msg = document.createElement("div")
        recieved_msg.className = "cb-recieved-msg"

        var recieved_msg_inbox = document.createElement("div")
        recieved_msg_inbox.className = "cb-recieved-msg-inbox"

        var para = document.createElement("p")
        para.innerHTML = msg

        var time = document.createElement("span")
        time.className = "cb-time"
        time.innerHTML = dateTime

        recieved_msg_inbox.appendChild(para)
        recieved_msg_inbox.appendChild(time)
        recieved_msg.appendChild(recieved_msg_inbox)
        recieved_chats.appendChild(recieved_msg)
        recieved_chat_img.appendChild(img)
        recieved_chats.appendChild(recieved_chat_img)

        var x = document.getElementById("cb-msg-page")
        x.appendChild(recieved_chats)


    }

</script>
<div class="slider_area ">
    <div class="single_slider d-flex align-items-center justify-content-center slider_bg_1">
        <div class="container">
            <div class="row align-items-center justify-content-center">

                <div class="col-xl-12 col-md-12">
                    <div class="slider_info" style="text-align: center">
                        <h3>Welcome </h3>
                        <a href="#" class="boxed_btn">Start Chat</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>



<div class="cb-container col-lg-12">
    <div class="cb-msg-header">
        <div class="cb-msg-header-img">
            <img id="cb-img-chat-head" src="{% static 'virtual_lawyer/img/logo.jpg' %}">
        </div>
        <div class="cb-active">
            <h4>VLA</h4>
            <h6>Online</h6>
        </div>

    </div>

    <div class="cb-chat-page">
        <div class="cb-msg-inbox">
            <div class="cb-chats">
                <div class="cb-msg-page" id="cb-msg-page">

                    <div class="cb-recieved-chats">
                        <div class="cb-recieved-chat-img">
                            <img id="cb-img-chat" src="{% static 'virtual_lawyer/img/logo.jpg' %}">
                        </div>
                        <div class="cb-recieved-msg">
                            <div class="cb-recieved-msg-inbox">
                                <p>Hi! Welcome to Virtual Legal Advisor

                                </p>
                                <span class="cb-time">11:01 | October 11</span>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>

    </div>

    <div class="cb-msg-bottom" id="cb-msg-bottom">
        <div class="cb-input-group" id="cb-input-group">
            <input type="text" class="cb-form-control" id="cb-form-control" placeholder="write message...">
            <div class="cb-input-group-append">
                <button class="cb-input-group-text" onclick="addChat()">
                    <i class="fa fa-paper-plane" onfocus=""></i>
                </button>

            </div>
        </div>


    </div>

</div>

{% endblock %}