{% extends "virtual_lawyer/base.html" %}
{% block content %}
{% load static %}
<div class="slider_area ">
        <div class="single_slider d-flex align-items-center justify-content-center slider_bg_1">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    
                    <div class="col-xl-12 col-md-12">
                        <div class="slider_info" style="text-align: center">
                            <h3>Welcome </h3>
                            <a href="#" class="boxed_btn">Start Chat</a>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

    <div class="cb-container col-lg-12">
        <div class="cb-msg-header" >
            <div class="cb-msg-header-img">
                <img id="cb-img-chat-head"  src="{% static 'virtual_lawyer/img/logo.jpg' %}" >
            </div>
            <div class="cb-active">
                <h4>VLA</h4>
                <h6>Online</h6>
            </div>
            
        </div>

        <div class="cb-chat-page" >
            <div class="cb-msg-inbox">
                <div class="cb-chats">
                    <div class="cb-msg-page">

                        <div class="cb-recieved-chats">
                            <div class="cb-recieved-chat-img">
                                <img id="cb-img-chat" src="{% static 'virtual_lawyer/img/logo.jpg' %}">
                            </div>
                            <div class="cb-recieved-msg">
                                <div class="cb-recieved-msg-inbox">
                                    <p>Hi! Welcome to Virtual Legal Advisor
                                        
                                    </p>
                                    <span class="cb-time">11:01 PM | October 11</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

{% endblock %}